In [2]:
%matplotlib widget
import pickle

with open("bout_data.pkl", 'rb') as f:
    bout_df = pickle.load(f)
    
with open("banzuke_data.pkl", 'rb') as f:
    banzuke_df = pickle.load(f)

bout_df.tail()

,day,name,opponent,result,tournament,career_absent,career_losses,career_wins,last_absent,last_losses,...,BMI,BMI_opponent,BMI_diff,rank_ordered_diff,total_exp,total_exp_opponent,total_exp_diff,win_per_bout,win_per_bout_opponent,age_diff
97663,8,Daieisho,Amakaze,1,201609,0,41,34,0,10,...,42.351987,59.221408,-16.869422,0,75,0,75,0.453333,0.0,857
97664,4,Kagayaki,Amakaze,1,201609,0,19,11,0,8,...,38.739295,59.221408,-20.482113,0,30,0,30,0.366667,0.0,1060
97665,5,Daishomaru,Amakaze,0,201609,0,21,24,0,8,...,49.959184,59.221408,-9.262225,-1,45,0,45,0.533333,0.0,3
97666,9,Nishikigi,Amakaze,1,201609,0,14,16,0,6,...,43.918596,59.221408,-15.302812,-1,30,0,30,0.533333,0.0,-316
97667,1,Chiyoshoma,Amakaze,1,201609,0,0,0,0,0,...,35.295172,59.221408,-23.926237,0,0,0,0,0.000000,0.0,13

In [3]:
banzuke_df.absent

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       3
22       0
23       0
24       0
25       0
26       0
27       0
28       5
29      12
        ..
6706     0
6707     0
6708     0
6709     2
6710     0
6711     0
6712     0
6713     0
6714     0
6715     0
6716     0
6717     0
6718    11
6719     0
6720     0
6721     0
6722     0
6723     0
6724     0
6725     0
6726     0
6727     0
6728     0
6729     0
6730     0
6731     0
6732     0
6733     0
6734     0
6735     0
Name: absent, Length: 6736, dtype: int64